
html {
  background-color: #fff;
  height: 100%;
  width: 100%;
  font-size: 16px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 2em;
  font-size: 1em;
  font-weight: 700;
  background-color: #0fa3b1 !important;
  background-size: cover;
}

header {
    display: flex;
    justify-content: flex-start;
    font-family: 'Concert One', cursive;
    font-size: 5rem;
    align-items: center;
    color: #FF9B42;
    height: auto;
    width: 100%;
    letter-spacing: 0.3rem;
}

main {
    background-color: #0fa3b1;
    height: 300px;
    width: 100%;
    font-size: 2rem;
    color:#fff;
    border-bottom: 1px solid #fff;
}

footer, main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;

}

.flex-container {
    display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.flex-items {
  display: flex;
  justify-content: center;
  color: #fff;
  line-height: 1.5em;
  font-size: 1.2rem;
  height: auto;
  width: 30%;
  gap: 5%;

}

#div-1, #div-2 {
    border-right: 0.5px solid #fff;
    padding: 0 25px;
}

#div-3 {
    padding-left: 25px;
}

footer {
    color: #FF9B42;
    height: 80px;
    width: 100%;
    display: flex;
    border-top: 1px solid #fff;
    margin-top: 10px;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 5%;
    padding-left: 0;
}

footer ul li {
    display: flex;
    width: 100%;
    align-items: center;
}

@media (max-width: 767px) {
    header {
        font-size: 3rem;
        width: 100%;
    }

    main {
        display: flex;
        flex-flow: column wrap;
        font-size: 1.4rem;
        border-bottom: 2px solid #fff;
        padding-bottom: 10px;
        margin: 8px 0;
    }

    .flex-container {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .flex-items {
        width: 100%;
    }

    #div-1, #div-2, #div-3{
        border: 0;
        padding: 10px 0;
    }

    footer {
        border-top: 2px solid #fff;
        margin-top: 10px;
    }
}